.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.topBox {
  width: 100%;
  padding: 0 20px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.topBox .title {
  width: 100%;
  text-align: center;
  margin-left: 24px;
  color: #333;
  font-size: 36px;
}
.topBox text {
  margin-right: 24px;
  background-color: transparent;
  color: #333;
  font-size: 28px;
}
.tab {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eee;
  padding-bottom: 20px;
}
.tab .item {
  font-size: 30px;
  line-height: 80px;
  height: 80px;
  background-color: #fff;
  color: #333;
  flex-grow: 1;
  text-align: center;
}
.tab .active {
  color: blue;
}
.webBox {
  width: 100%;
  height: 999px;
}
web {
  width: 100%;
}
